# Binaries for programs and plugins
*.exe
*.so
*.dylib
*.dll

# Executables
/target/

# Cargo files
**/Cargo.lock
**/target/

# IDE files
.idea/
.vscode/
*.iml

# Logs
*.log

# Other
*.rs.bk

# Makefiles
Makefile
makefile
